.container {
  position: absolute;
  top: 10em;
  left: 10%;
  width: 80%;
  min-height: 50vh;
  background: rgba(20, 20, 20, 0.9);
  color: rgb(175, 175, 175);
  border: 1px solid rgba(255, 255, 255, 0.8);
  box-sizing: border-box;
  border-radius: 1em;
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.legend {
  padding: 0.1em 1em;
  color: rgba(255, 255, 255, 0.9);
}

.libraries {
  display: flex;
  flex-direction: row;
  gap: 1em;
  border: 1px solid rgba(174, 185, 184, 0.4);
}

.libraryGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  /* border: 1px solid rgba(174, 185, 184, 0.9); */
}

.fieldset {
  border: 1px solid rgba(174, 185, 184, 0.4);
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  flex-direction: row;
  padding: 0.5em;
  gap: 0.5em;
}

@media screen and (min-width: 800px) and (max-width: 1024px) {
}

@media screen and (min-width: 1024px) {
  .container {
    width: 40%;
    top: 8em;
    /* left: calc(var(--project-container-width) / 2); */
    left: var(--project-offset);
  }
}
