.socialContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding: 0.5em;
  /* border: 1px solid white; */
  border-radius: 2em;
  background-color: rgba(0, 0, 0, 0.8);
}

.logo {
  height: 1.5rem;
  width: 1.5rem;
}

a,
a:link,
a:visited {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
}

p {
  font-size: 1rem;
  padding: 0 2em;
}

@media screen and (min-width: 1024px) {
  .socialContainer {
    padding: 0.5em;
  }

  p {
    font-size: 0.8rem;
    padding: 0 1.5rem;
  }

  .logo {
    height: 1.1rem;
    width: 1.1rem;
  }
}
