.project-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(20, 20, 20);
  /* border: 1px solid rgba(12, 217, 224, 0.767); */
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.5em;
  inline-size: var(--card-width);
  /* padding: 1em; */
  padding-bottom: 0.5em;
  color: rgb(175, 175, 175);
  min-height: 60vh;
  content-visibility: auto;
  contain-intrinsic-size: auto 60vh;

  &:hover {
    border: 1px solid rgba(255, 255, 255, 0.8);
    margin-top: -6px;
  }
}

.imgContainer {
  width: inherit;
  height: 18vh;
  border-radius: 10px 10px 0 0;
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.8);
  padding: 0;
  margin: 0;
  background: #000;
}

.cover {
  object-position: 0 0;
  width: inherit;
  height: inherit;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.project-info {
  height: 100%;
  padding: 1em;
}

.title {
  font-family: "JetBrains Mono", monospace;
  font-weight: 500;
  font-size: 1.2rem;
  text-align: center;
  padding: 0.2em 0;
  color: rgba(255, 255, 255, 0.9);
  width: 100%;
}

.description {
  font-size: 0.9rem;
  white-space: pre-wrap;
  padding: 1em 0;
}

.tag-container {
  display: flex;
  flex-direction: row;
  gap: 1em;
  padding: 1em 0;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 90%;
}

.tag {
  border-radius: 0.4em;
  color: gray;
  background-color: black;
  font-size: 11px;
  padding: 0.5em 0.7em;
}

@media screen and (max-width: 940px) {
  .project-card-container {
    inline-size: auto !important;
    width: 100% !important;
    min-width: 85vw;
    max-width: 400px;
  }
}

@media screen and (min-width: 1024px) {
  .project-card-container {
    min-height: 26vh;
    animation: fallIn 0.6s ease-out forwards;
    animation-delay: calc(
      (var(--total-cards, 10) - var(--card-index, 0)) * 0.1s
    );
    opacity: 0;
  }

  .project-info {
    padding: 0.5em 1em;
  }

  .title {
    font-size: 1rem;
    padding: 1em 0;
  }

  .description {
    padding: 0.5em 0;
  }
}

@keyframes fallIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
