---
import Layout from "../Layout.astro"
import ProjectCard from "../components/ProjectCard.astro";
import CommitWidget from "../components/CommitWidget/CommitWidget.astro";
import { projects } from "../data.ts";
const filteredProjects = projects.filter((project) => project.highlighted);
---

<Layout title="Home - jefvanzanten.dev">
	<div class="content-container">
		<section class="introduction">
			<h1>Full-stack en mobile developer</h1>
			<p>
				Hey, mijn naam is Jef. Momenteel volg ik de studie Software Development (HBO Associate Degree).
				<br />
				<br />
				Ik wissel met programmeren tussen frontend, backend en mobile projecten, zodat mijn kennis en vaardigheden op elk vlak blijven ontwikkelen.
			</p>
		</section>
		<CommitWidget />
		<section class="featured-projects-container">
          <div class="title">
			<span class="line" />
            <h1>Featured Projects</h1>
            <span class="line" />
          </div>
			<div class="featured-projects-list">
				{filteredProjects.map((project) => (
					<ProjectCard project={project} />
				))}
          </div>
		</section>
	</div>
</Layout>

<style>
main {
  min-height: 90vh;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2em 0;
  box-sizing: border-box;
  z-index: 0;
  gap: 4em;
  min-height: 90vh;
	overflow: hidden;
}

.introduction {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  	min-height: 30vh;
}

h1 {
  font-family: "JetBrains Mono", monospace;
  font-weight: 400;
  font-size: 1.8rem;
  text-wrap: wrap;
  padding: 1em 0;
  text-align: center;
}

p {
  font-size: 1.1rem;
  margin: 0;
  color: rgba(255, 255, 255, 0.603);
  text-wrap: wrap;
  max-width: 32rem;
  padding: 0 1em;
}

.featured-projects-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.featured-projects-list {
  display: flex;
  flex-direction: row;
  gap: 2em;
  --card-width: 300px;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title h1 {
  font-family: "JetBrains Mono", monospace;
  font-weight: 100;
  font-size: 1.3rem;
}

.line {
  border-bottom: 1px solid white;
  width: 21em;
}

@media screen and (max-width: 1800px) {
  .content-container {
    padding: 4em;
  }

  .introduction {
    min-height: 10vh;
  }

  .home-profile-pic {
    width: 8rem;
    height: 8rem;
  }

  p {
    width: 80%;
    font-size: 0.9rem;
  }

  h1 {
    padding: 1em;
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 940px) {
  .content-container {
    padding: 2em 1em;
  }

  .introduction {
    min-height: 20vh;
  }

  p {
    width: 100%;
    font-size: 0.9rem;
    line-height: 1.4rem;
  }

  h1 {
    font-size: 1.8rem;
  }

  .title .line {
    width: 2em;
  }
}
</style>
