---
import Layout from "../Layout.astro";
import CommitWidget from "../components/CommitWidget/CommitWidget.astro";
import ProjectCard from "../components/ProjectCard/ProjectCard.astro";
import { projects } from "../data.ts";
const filteredProjects = projects.filter((project) => project.highlighted);
---

<Layout
  title="Home - jefvanzanten.dev"
  description="Portfolio van Jef van Zanten - Full-stack developer met focus op React, TypeScript en mobile development."
>
  <div class="content-container">
    <section class="introduction">
      <div class="introduction-content">
        <h1>Full-stack developer</h1>
        <p>
          Hey, mijn naam is Jef. Momenteel volg ik de studie Software
          Development (HBO Associate Degree).
          <br />
          <br />
          Ik wissel met programmeren tussen frontend, backend en mobile projecten,
          zodat mijn kennis en vaardigheden op elk vlak blijven ontwikkelen.
        </p>
      </div>
    </section>
    <CommitWidget />
    <section class="featured-projects-container">
      <div class="title">
        <span class="line"></span>
        <h1>Featured Projects</h1>
        <span class="line"></span>
      </div>
      <div
        class="featured-projects-list"
        style={{ "--total-cards": filteredProjects.length }}
      >
        {
          filteredProjects.map((project, index) => (
            <ProjectCard project={project} index={index} />
          ))
        }
      </div>
    </section>
  </div>
</Layout>

<style>
  /*  debug */
  /* main {
    border: 2px dashed blue;
  }
  .content-container {
    border: 2px dashed magenta;
  }
  .introduction {
    border: 2px solid red;
  }
  .introduction-content {
    border: 2px solid green;
  }
  h1 {
    border: 2px solid purple;
  }
  p {
    border: 2px solid yellow;
  }
  .featured-projects-container {
    border: 2px solid teal;
  } */

  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    z-index: 0;
    min-height: 90vh;
    overflow: hidden;
  }

  /* Introduction section */

  .introduction {
    padding: 4em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .introduction-content {
    display: flex;
    flex-direction: column;
    width: fit-content;
  }

  h1 {
    font-family: "JetBrains Mono", monospace;
    font-weight: 400;
    font-size: 1.8rem;
    padding: 1em 0;
  }

  p {
    font-size: 1.1rem;
    margin: 0;
    color: rgba(255, 255, 255, 0.603);
    text-wrap: wrap;
    max-width: 32rem;
    padding: 0;
  }

  /* Featured projects section -- TODO: Need to move to a new component */

  .featured-projects-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }

  .featured-projects-list {
    display: flex;
    flex-direction: row;
    gap: 2em;
    --card-width: 300px;
  }

  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .title h1 {
    font-family: "JetBrains Mono", monospace;
    font-weight: 100;
    font-size: 1.3rem;
  }

  /* Screen specific styling */
  /* Higher resolution screen */

  @media screen and (min-width: 1800px) {
    .introduction {
      min-height: 10vh;
    }

    .home-profile-pic {
      width: 8rem;
      height: 8rem;
    }

    p {
      font-size: 0.9rem;
      max-width: 28rem;
    }

    h1 {
      padding: 1em 0;
      font-size: 1.4rem;
    }
  }

  /* Tablet and most common desktop resolution */

  @media screen and (min-width: 940px) {
    .introduction {
      min-height: 20vh;
    }

    p {
      font-size: 1rem;
      /* line-height: 1.4rem; */
      max-width: 24rem;
    }

    h1 {
      font-size: 1.8rem;
    }

    .title .line {
      width: 2em;
    }
  }
</style>
