---
import type { Project } from "../../types/project";
import ProjectCard from "../ProjectCard/ProjectCard.astro";
import ProjectImageModalController from "../ProjectImageModal/ProjectImageModalController.svelte";

type Props = {
  projects: Project[];
};

const { projects }: Props = Astro.props;
---

<div
  class="featured-projects-list"
  data-featured-projects-root
  style={{ "--total-cards": projects.length }}
>
  {
    projects.map((project, index) => (
      <ProjectCard project={project} index={index} priority={index < 3} />
    ))
  }
</div>

<ProjectImageModalController client:idle />

<style>
  .featured-projects-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2em;
    width: 100%;
    margin: 0 auto;
  }

  @media screen and (max-width: 940px) {
    .featured-projects-list {
      grid-template-columns: 1fr;
    }
  }
</style>
