main {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  z-index: 0;
  align-items: center;
  width: 100%;
}

.content-container {
  max-width: calc(var(--card-width) * 3 + 240px);
  justify-content: center;
  align-items: start;

  @media screen and (max-width: 940px) {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  @media screen and (min-width: 1920px) {
    max-width: calc(var(--card-width) * 4 + 240px);
  }
}

.project-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
  padding-bottom: 8vh;
  --card-width: 340px;

  @media screen and (max-width: 940px) {
    --card-width: 100%;
  }

  @media screen and (min-width: 1920px) {
    --card-width: 320px;
  }
}

.filter-container {
  display: flex;
  padding: 1em 0;
  gap: 1em;

  @media screen and (min-width: 1024px) {
    max-height: 10vh;
  }
}
