.navcontainer {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 0;
  min-width: 100%;
  z-index: 1000;
  background: rgb(20, 20, 20);
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
}

.pageName {
  display: none;
}

.nav {
  min-width: 100%;
  display: flex;
  flex-direction: row;
  font-family:
    "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS", sans-serif;
  padding: 0 2em;
  /* align-items: center; */
  justify-content: space-between;
}

.logo {
  color: rgba(12, 217, 224, 0.767);
  font-weight: bold;
  /* min-width: 40%; */
  text-align: center;
}

.navlink {
  display: inline-block;
  padding: 1em 3em;
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-color 0.2s ease;
  font-size: 1rem;
}

.navlist {
  display: flex;
  list-style: none;
  margin: 0;
  /* gap: 4em;
  min-width: 40%;
  max-width: 60%; */
}

.active {
  border-color: rgba(227, 227, 227, 0.767);
}

@media (max-width: 1800px) {
  .navlink {
    padding: 1em 2em;
    font-size: 1rem;
  }
}

@media (max-width: 940px) {
  .navcontainer {
    width: auto;
    height: 6vh;
    line-height: 6vh;
  }

  .nav {
    padding: 1em;
    align-items: center;
    text-align: center;
    justify-content: inherit;
  }

  .navlink {
    padding: 1em 2em;
  }

  .navlist {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.95);
    backdrop-filter: blur(10px);
    flex-direction: column;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    gap: 0;
  }

  .open {
    max-height: 400px;
  }

  .navlist .navlink {
    display: block;
    width: 100%;
    padding: 1.5em 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    line-height: 1vh;
  }

  .navlist .navlink:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .pageName {
    display: block;
    font-size: 1.2rem;
  }
}
