<form>
  <input disabled type="text" placeholder="Naam" />
  <input disabled type="email" placeholder="jouw@email.com" />
  <textarea disabled class="text-area" placeholder="Schrijf je bericht hier..."
  ></textarea>
  <button disabled>Verstuur</button>
  <span class="error"
    >De email service is niet live. Excuses voor het ongemak.</span
  >
</form>

<style>
  /* form {
    border: 2px solid violet;
  } */

  form {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  input,
  textarea {
    background-color: rgb(44, 42, 42);
    padding: 10px;
    border: none;
    border-radius: 4px;
    color: rgb(216, 216, 216);

    &::placeholder {
      color: rgb(163, 163, 163);
    }
  }

  textarea {
    text-wrap: wrap;
    width: 340px;
    height: 10vh;
  }

  button {
    padding: 0.5em 0;
    background-color: rgba(13, 145, 134, 0.6);
    color: rgb(216, 216, 216);
    font-family: monospace;
    border-radius: 8px;
    border: none;
  }

  .error {
    color: rgb(194, 25, 25);
  }
</style>
