.image-container {
  all: unset;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  border-radius: 10px 10px 0 0;
  border-top: 1px solid var(--border);
  border-left: 1px solid var(--border);
  border-right: 1px solid var(--border);
  border-bottom: 2px solid var(--border);
  padding: 0;
  margin: 0;
  background: var(--bg);

  .thumb {
    object-position: 0 0;
    width: inherit;
    height: inherit;
    cursor: pointer;
  }
}
