.imgContainer {
  width: inherit;
  height: 18vh;
  border-radius: 10px 10px 0 0;
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.8);
  padding: 0;
  margin: 0;
  background: #000;

  .cover {
    object-position: 0 0;
    width: inherit;
    height: inherit;
    cursor: pointer;
    padding: 0;
    margin: 0;
  }
}
