---
import Navigation from "./components/NavBar/NavBar";
import ImageViewModal from "./components/ImageViewModal/ImageViewModal";
import "./styles.css";

const { title, description } = Astro.props;
const GA_ID = import.meta.env.PUBLIC_GA_ID;
---

<html lang="nl">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <title>{title}</title>

    {
      GA_ID && (
        <>
          <script
            is:inline
            async
            src={`https://www.googletagmanager.com/gtag/js?id=${GA_ID}`}
          />
          <script is:inline define:vars={{ GA_ID }}>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', GA_ID);
          </script>
        </>
      )
    }
  </head>

  <body>
    <main>
      <Navigation client:load currentPath={Astro.url.pathname} />
      <ImageViewModal client:load />
      <slot />
    </main>
  </body>
</html>
