@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --card-width: 285px;
  --container-max-width: 90%;
  --project-container-width: calc(var(--card-width) * 3 + 4em);
  --featured-projects-container-width: calc(var(--card-width) * 3 + 3 * 2em);
  --project-offset: calc((100vw - var(--project-area-width)) / 2);
  --bg: #000000;
  --text: white;
  --card-bg: color-mix(in oklch, var(--bg), #fff 17%);
  --card-text-color: color-mix(in oklch, var(--text), #000 20%);
  --text-muted: oklch(from var(--text) l c h / 0.9);
  --text-bright: oklch(from var(--text) l c h / 0.9);
  --border: oklch(from var(--text) l c h / 0.2);
  --border-bright: oklch(from var(--text) l c h / 0.8);
}

html,
body {
  background-color: var(--bg);
  color: var(--text);

  /* Force Portrait mode on mobile for the best ux */
  @media screen and (orientation: landscape) and (max-width: 940px) {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    position: absolute;
    top: 100%;
    left: 0;
  }
}

p {
  font-family:
    "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS", sans-serif;
}

/* Title with lines next to it. Used in index.astro and CommitWidget */

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  width: 100%;

  @media screen and (max-width: 440px) {
    padding: 0 10px;
    justify-content: center;
  }

  .line {
    border-bottom: 1px solid white;
    width: 100%;

    @media screen and (max-width: 440px) {
      width: 12em;
    }
  }

  h1 {
    font-family: "JetBrains Mono", monospace;
    font-weight: 100;
    font-size: 1.3rem;
    width: max-content;

    @media screen and (min-width: 1920px) {
      font-size: 16px;
    }
  }
}

/* This enables page animations */

@view-transition {
  navigation: auto;
}
